<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/mobile.css' %}">
    <link rel='stylesheet' type="text/css" href='{% static 'css/swiper.min.css' %}'>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src='https://unpkg.co/gsap@3/dist/gsap.min.js'></script>
    <script src='https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js'></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/admin.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="{% static 'image/logo.png' %}">
    <title>독학_관리자</title>
</head>
<body>
    <div class="header">
        <div class="logo-section">
            <div class="log_img"><img id="main_logo_img" src="{% static 'image/logo.png' %}"></div>
            <div class="user_sections">
                <div class="user_button_section">
                    <div><img class="user_icons" src="{% static 'image/user_icons.png' %}"></div>
                    <div class="mypage_open">Master</div>
                </div>
            </div>
        </div>
    </div>
    <div class="admin_content">
        <div class="admin_form">
            <form class="lecture_area" id="lecture_form" method="post" action="{% url 'lecture_add' %}" enctype="multipart/form-data">
                <div class="input_area_one">
                    <div class="input_one">
                        <div><span>Title</span></div>
                        <input class="underline" type="text" id="title" name="title">
                    </div>
                </div>
                <div class="input_area_double">
                     <div class="input_two">
                        <div><span>강사명</span></div>
                        <input class="underline" type="text" id="teacher" name="teacher">
                    </div>
                    <div class="input_two numtwo">
                        <div><span>강의 시작</span></div>
                        <div class="input_times">
                            <input class="underline" type="date" id="live_date" name="live_date">
                            <input class="underline" type="time" id="live_time" name="live_time">
                        </div>
                    </div>
                </div>
                <div class="input_area_double">
                    <div class="input_two">
                        <div><span>소속</span></div>
                        <input class="underline" type="text" id="company" name="company">
                    </div>
                    <div class="input_two numtwo">
                        <div><span>강의 종료</span></div>
                        <div class="input_times">
                            <input class="underline" type="date" id="run_date" name="run_date">
                            <input class="underline" type="time" id="run_time" name="run_time">
                        </div>
                    </div>
                </div>
                <div class="input_area_one">
                    <div class="input_one">
                        <div><span>내용</span></div>
                        <textarea class="border" id="lecture_text" name="lecture_text"></textarea>
                    </div>
                </div>
                <div>
                    <div class="input_one">
                        <div><span>Image</span></div>
                        <input type="file" id ="title_img" name="title_img">
                    </div>
                </div>
                <div>
                    <div class="input_one">
                        <div><span>URL</span></div>
                        <input class="underline" type="text" id ="urls" name="urls">
                    </div>
                </div>
                <div class="input_area_double" id="admin_btn_area">
                    <div>
                        <input type="reset" id="reset_btn" value="Cancle">
                    </div>
                    <div>
                        <input type="submit" id="submit_btn" value="Save">
                    </div>
                </div>

            </form>
        </div>
        <div class="admin_preview">
            <div class="admin-pre-notice">
                <div class="pre-img-section" id="pre_img_section">

                </div>
                <div class="pre-img-text">
                    <div id="pre_company">소속을 입력해주세요</div>
                    <div class="pre-name" id="pre_name">강사명을 입력해주세요</div>
                </div>
            </div>
            <div class="admin-pre-content">
                <div class="pre-title"><p id="pre_title">“Title을 입력해주세요”</p></div>
                <div class="pre-intro">
                    <pre id="pre_intro">내용을 입력해 주세요</pre>
                </div>
                <div class="pre-time"><p>00일 00:00:00 남음</p></div>
                <div class="pre-btn"><div><p>Go Live</p></div></div>
            </div>
        </div>
    </div>
    <div class="lecture_list">
        <div class="pre-logo"><img src="{% static '/image/logo.png' %}"></div>
        <div class="pre-list-title"><p>DOKAK LECTURE</p></div>
        <div class="pre-list">
            <div class="pre-list-no"><p>No</p></div>
            <div class="pre-list-titles"><p>Title</p></div>
            <div class="pre-list-name"><p>강사명</p></div>
            <div class="pre-list-start"><p>강의시작</p></div>
            <div class="pre-list-status"><p>상태</p></div>
            <div class="pre-list-trash"><p>삭제</p></div>
        </div>
        {% for Lec in lecture %}
            <div class="pre-list list_items" onclick="preview_ch({{ Lec.pk }});">
                <div class="pre-list-no"><p class="list_items">{{ forloop.counter }}</p></div>
                <div class="pre-list-titles"><p class="list_items">{{ Lec.title }}</p></div>
                <div class="pre-list-name"><p class="list_items">{{ Lec.teacher }}</p></div>
                <div class="pre-list-start"><p class="list_items">{{ Lec.live_time }}</p></div>
                <div class="pre-list-status">
                    <p class="list_items">
                        {% if Lec.live == 3 %}종료{% endif %}
                        {% if Lec.live == 2 %}진행중{% endif %}
                        {% if Lec.live == 1 %}예정{% endif %}
                    </p>
                </div>
                <div class="pre-list-trash">
                    <p class="list_items"><img src="{% static 'image/trash.png' %}" onclick="itemdel({{ Lec.pk }})"></p>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>