
/* mobile */
@media (max-width:1206px) {
    html{
        width: 100%;
    }
    body{
        width: 100%;
        height: 100%;
    }
    .content {
        margin-top:0;
    }
    .Live_area {
        width:100%;
        height: 100%;
    }
    .swiper-slide-active {

    }
    .card_img {
        padding:0;margin-right:10px;
    }
    .card_img > img {
        max-width:280px;
        width:100%;
    }
    .img_area {
        /* max-height:max-content; */
    }
    .last_text_area {
        margin-left:0;
        padding-left:20px;
    }
    .last_time_set {
        margin-left:0;
    }
    .live_btn {
        max-width:250px;
        width:auto;
        padding:0 40px;
        margin-left:0;
        font-size:23px;
    }
    .teaching_title_text {
        width:100%;
    }
    .teaching_title {
        font-size:30px;
    }
    .swiper-slide {
        width:100%;
    }
    .last_lecture_box {
        width:100%;
    }
    .footer {
        border-top:1px solid #f1f1f1;
        padding:15px 20px;
    }
    .footer_box {
        height:auto;
    }
    .center_section {
        flex-direction:column;
    }
    
}

@media (max-width:480px) {
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom : 0;
    }
    .content{
        margin-top: -90px;
    }
    .card_img{
        width: 210px;
    }
    #arow_up{
        display: none;
        position: absolute;
        width: 19px;
        top: -12px;
        right: 40px;
        transform: rotate(180deg);
    }
    #arow_down{
        display: block;
        position: absolute;
        width: 19px;
        top: -12px;
        right: 40px;
    }
    #kor{
        position: absolute;
        top: -18px;
    }
    #eng{
        display: none;
    }
    #chi{
        display: none;
    }
    #jap{
        display: none;
    }
    .swiper-container.slider1{
        padding-left: 1px;
        padding-right: 1px;
    }
    .last_lecture_item.swiper-slide-active.fir_item{
        margin-left: 780px;
    }
    .last_lecture_item.swiper-slide-active{
        margin-left: 819px;
    }
    .last_lecture_content{
        max-width: 390px;
    }
    .last_lecture_slider{
        max-width: 380px;
    }
    .log_img>img{
        max-width: 130px;
    }
    .last_lecture_item{
        margin: 0 auto;
    }
    .teaching_title{
        font-size: 20px;
    }
    .teaching_text{
        font-size: 12px;
    }
    .log_img {
        padding-left:0;
    }
    .logo-section {
        position:relative;
    }
    .user_sections {
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
        margin-bottom:0;
        padding:0;
    }
    .user_button_section{
        bottom:-35px;
        left:0;
        width:fit-content;
    }
    .nation_section {
        top:-50px;
        right:0;
    }
    .nation_section > ul {
        flex-direction:column;
    }
    .last_time_set {
        position:absolute;
        bottom:46px;
        left:160px;
        font-size: 19px;
    }
    .live_btn{
        width: 75px;
        font-size: 20px;
    }
    .card_img > img{
        width: 95px;
        margin-left: 10px;
    }
    .img_area.swiper-slide-active{
        border: none;
        box-shadow: none;
    }
    .tea_title{
        font-size: 14px;
    }
    .tea_name{
        font-size: 16px;
    }
    .swiper-slide-active{
        border: none;
        box-shadow: none;
    }
    .swiper-button-prev,.swiper-button-next{
        display: block;
        background-size: 19px 44px;

    }
    .text_box > p{
        font-size: 16px;
        line-height: 21px;
    }
    /* 마이페이지  */
    .edit_name_area >input, .edit_phone_area> input, .edit_nick_area > input{
        width: 320px;
    }
    #edit_mobile{
        margin-top: 10px;
    }
    #name_edit{
        width: 280px;
    }
    #phone_edit{
        width: 280px;
    }
    #nick_edit{
        width: 280px;
    }
}

@media (max-width:360px) {
    .teaching_title_text {
        padding:0;
    }
    .text_box > p {
        line-height:45px;
    }
    
    .inquiry_btn {
        width:80px;
        height:auto;
        font-size:11px;
    }
}
